<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest"/>
  </specFlow>


  <appSettings>
    <add key="Environment" value="obstaclecourse.tricentis.com/Obstacles/" />
    <add key="Browser" value="Chrome" />
    <add key="Protocol" value="https://" />
    <add key="WaitSec" value="30" />
    <add key="AutomationFolderName" value="AutomationFolder" />
    <!--  <add key="DriverLocation" value="AppData\" />-->
  </appSettings>
  
</configuration>